  background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
  
img {
  display: inline-flexbox;
  margin: auto;
  max-width: 300px;
  max-height: 300px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 24px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005F6B;
}